{% extends "FOSUserBundle::layout.html.twig" %}
{% block account %}{% endblock %}

{% block title "Cannot reset password" %}

{% block fos_user_content %}
<p class="alert alert-danger">
    <strong>Error!</strong>
    {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
    <a href="{{ path('homepage') }}">&raquo; Homepage</a>
</p>
{% endblock %}
