{% extends '::base.html.twig' %}

{% block content %}
<div class="well">
    <h1>Edit Product &raquo;{{ product.name }}&laquo;</h1>
    {% include 'PinitBundle:Product:form.html.twig' %}
</div>
{% endblock %}
