parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_encryption: ~
    mailer_delivery_address: me@example.com # safety first

    admin_email: me@example.org
    mailer_params_from: me@example.org
    mailer_params_return_path: me@example.org

    locale:            en
    secret:            This$Token/Is§Not(So)Secret!Change?It
