{% extends '::base.html.twig' %}

{% block title 'User Area' %}

{% block content %}
<div class="jumbotron">
    <h1>{{ block('title') }}</h1>
    <p>This is the secured user area of the Symfony Kickstarter.</p>
</div>
{% endblock %}
