/web/bundles/
/web/bower
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/local*.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/generated/*
/composer.lock
