<div class="btn-group pull-right">
    <button class="btn btn-default"><a href="{{ path('registration', {_locale: 'en'}) }}">English</a></button>
    <button class="btn btn-default"><a href="{{ path('registration', {_locale: 'de'}) }}">German</a></button>
</div>
